@import url('https://fonts.googleapis.com/css?family=Lato:400i,400,700,900|Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

.main-container {
    max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}

.sections {
	display: flex;
	position: relative;
}

.change-lang {
	position: absolute;
	right: 10px;
	top: 5px;
}

.top-header {
	height: 45px;
	width: 100%;
	border-bottom: 1px solid rgb(221, 214, 214);
}

.left-nav {
    min-height: 100%;
    max-height: 100%;
	width: 15vw;
	font-style: italic;
	border-right: 1px solid rgb(221, 214, 214);

	.selected {
		background-color: rgba(193,212,241,0.5);
		color: rgb(43, 89, 162);
	}
}

.itinerary, .proposal, .calendar {
	height: calc(100vh - 46px - 40px);
	width: 59vw;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #fdfdfd;
}

.calendar {
	padding: 0px;
	height: calc(100vh - 46px);
	width: calc(59vw + 100px);
}

.itinerary, .proposal {
	.search {
		position: relative;
	}

	.search-box {
		width: 310px;
		height: 38px;
		outline: none;
		border-radius: 6px;
		border: 1px solid rgb(228, 222, 222);
		padding-left: 40px;
		padding-right: 10px;
		font-size: 17px;
		transition: ease 0.3s;
	}

	.search-box:focus {
		width: calc(100% - 50px);
	}

	.search-box::placeholder {
		color: rgb(216, 206, 206);
	}

	.search-icon {
		position: absolute;
		left: 10px;
		top: 8px;
		color: rgb(216, 208, 208);
	}

	.filter {
		width: 100%;
		height: 27px;
		border: 1px solid rgb(196, 190, 190);
		margin-top: 20px;
	}
}

.itinerary {
	.trip {
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
	}

	.trip-item {
		flex: 1;
		min-width: calc(15vw - 20px);
		max-width: calc(15vw - 20px);
		height: 120px;
		border-radius: 20px;
		position: relative;
		background-size: 100% 100%;
		color: white;
		cursor: pointer;
		overflow: hidden;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	.trip-card-opacity {
		background-color: black;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}

	.trip-card-top-right {
		position: absolute;
		right: 15px;
		top: 8px;
	}

	.trip-card-bottom-left {
		position: absolute;
		left: 15px;
		bottom: 8px;
		text-transform: uppercase;
	}
}


.right-nav {
	min-height: 100%;
	width: calc(100vw - 83.3vw);
	background-color: rgb(243, 239, 239);
	padding: 20px;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	overflow-y: auto;

	.location, .days-nights, .estimated-cost, .total-proposal, .active-proposal {
		margin-bottom: 20px;
		font-size: 17.3px;
	}

	.location {
		text-transform: uppercase;
		
	}

	.active-proposal-list {
		display: flex;
		flex-direction: column;
		font-size: 17px;
		margin-bottom: 30px;

		span {
			margin-top: 3px;
		}

		.heading {
			font-weight: bold;
		}
	}
}

#overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 999;
}

.form {
	position: absolute;
	padding: 20px;
	background-color: rgb(241, 229, 229);
	width: 450px;
	border-radius: 15px;
	top: 8vw;
}

.form > * {
	margin-bottom: 10px;
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	width: 275px;
	margin-right: 20px;
	margin-bottom: 20px;

	.location-image {
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('https://wallpaperplay.com/walls/full/6/4/9/330319.jpg');
		background-size: 100% 100%;
		width: 100%;
		height: 165px;
		position: relative;
	}

	.image-layer {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.4;
	}

	.image-center {
		color: white;
		font-size: 38px;
		z-index: 999;
		font-family: 'Pacifico', cursive;
	}

	.type {
		margin-top: 8px;
		color: #359391;
		text-transform: uppercase;
		font-size: 13px;
		font-weight: bold;
		margin-bottom: 12px;
	}

	.icons-days {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 8px;
	}

	.icons > * {
		margin-right: 5px;
	}

	.days {
		background-color: #359391;
		color: white;
		font-size: 13px;
		border-radius: 50px;
		padding-top: 5.5px;
		padding-bottom: 5.5px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.price-edit {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		padding-bottom: 18px;
		border-bottom: 0.2px solid #70e6e4;
	}

	.price {
		font-size: 18px;
		font-weight: bold;
	}

	.edit {
		border: 1px solid #359391;
		background-color: white;
		color: #359391;
		padding: 5px 22px;
		border-radius: 6px;
		font-size: 16px;
	}
}

.event-name-card  {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 370px;
	height: 200px;
	background-image: url('http://www.bruna.cat/imgdownload/full/105/1052635/rajasthan-wallpaper-hd.jpg');
	background-size: 100% 100%;
	margin: 20px;
	position: relative;

	.image-layer {
		background-color: black;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}

	.image-center {
		display: flex;
		flex-direction: column;
		color: white;
		text-transform: uppercase;
		z-index: 999;
		font-size: 32px;
		font-weight: 900;
	}

	.location {
		margin-top: -6px;
	}
}

.hotel-card-wrapper, .builder-card-wrapper {
	display: flex;
	flex-direction: column;
	width: 300px;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	margin: 20px;

	.image-card {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 170px;
		background-image: url('https://q-cf.bstatic.com/images/hotel/max1024x768/470/47096340.jpg');
		background-size: 100% 100%;
	}

	.image-layer {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.3;
	}

	.bottom-left {
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 10px;
		z-index: 999;
		padding: 10px;
		color: white;
	}

	.bottom-text {
		font-size: 18.5px;
		margin-top: 5px;
	}

	.card-info {
		padding: 15px;
		padding-top: 0px;
		position: relative;
	}

	.delete-event {
		position: absolute;
		right: 5px;
		bottom: 10px;
		cursor: pointer;
		transition: ease 0.3s;
	}

	.delete-event:hover {
		color: red;
		font-size: 30px;
	}

	.rating {
		color: #f5a623;
		font-size: 13.1px;
	}

	.description {
		display: flex;
		flex-direction: column;
		margin-top: 5px;
		// border-top: 1px solid #70e6e4;
		// border-bottom: 1px solid #70e6e4;
		padding-top: 5px;
		color: #359391;
		font-size: 14.5px;
		height: auto;
	}

	.location {
		margin-top: 5px;
	}

	.space {
		padding-top: 10px;		
		padding-bottom: 10px;		
	}
}

.builder {
	overflow-y: auto;
	height: calc(100vh - 100px);
	padding: 0px;
	margin-top: 100px;

	.builder-card-wrapper {
		max-width: 250px;
		width: calc(100% - 40px);
		// border-bottom: 5px dotted white;
		padding: 10px;
		padding-top: 28px;
		border: 2px solid white;
		position: relative;
	}

	.event-add-icon {
		display: none;
		position: absolute;
		z-index: 999;
		bottom: -18px;
		left: 46%;
		z-index: 999;
		cursor: pointer;
		background-color: white;
	}

	.event-add-icon .icon {
		font-size: 25px;
	}

	.event-options {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		background-color: orange;
		color: white;
	}

	.event-options .icon {
		padding: 3px;
		margin-left: 4px;
		margin-right: 4px;
		font-size: 15px;
		cursor: pointer;
	}

	.move-event {
		position: absolute;
		left: 0;
		top: 0;
		display: none;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}

	.move-event .icon {
		background-color: orange;
		color: white;
		font-size: 17px;
		padding: 2px;
		cursor: pointer;
	}

	.builder-card-wrapper:hover {
		border: 2px solid orange;
	}

	.builder-card-wrapper:hover .event-options {
		display: block;
	}

	.builder-card-wrapper:hover .event-add-icon {
		display: block;
	}

	.builder-card-wrapper:hover .move-event {
		display: flex;
	}

	.on-event-enter {
		border-top: 5px dotted red;
	}

	.row {
		display: flex;
		border: 2px solid white;
		position: relative;
		margin-bottom: 20px;
		margin-top: 20px;
		overflow: none;
	}

	.move-row {
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		padding: 2px;
		z-index: 999;
		height: calc(100% - 4px);
	}

	.move-row .hold {
		display: flex;
		flex-direction: column;
		background-color: orange;
		position: absolute;
		left: -1px;
	}

	.move-row .icon {
		color: white;
		font-size: 18px;
		font-weight: 900;
		margin-top: 3px;
		margin-bottom: 5px;
		transition: ease 0.3s;
		cursor: pointer;
	}

	.row-options {
		display: none;
		justify-content: center;
		align-items: center;
		background-color: orange;
		position: absolute;
		right: 0;
		padding: 4px;
		z-index: 999;
	}

	.row-options .icon {
		margin-left: 7px;
		margin-right: 7px;
		font-size: 20px;
		color: white;
		cursor: pointer;
	}

	.row-options .clone {
		font-size: 17px;
	}

	.add-row {
		position: absolute;
		bottom: -18px;
		margin-left: 48.6%;
		display: none;
		font-size: 35px;
		background-color: white;
	}

	.delete-row {
		display: none;
		position: absolute;
		right: 5px;
		bottom: 0px;
		font-size: 30px;
		cursor: pointer;
		z-index: 999;
	}

	.row:hover .move-row {
		display: flex;
	}

	.row:hover .row-options {
		display: flex;
	}

	.row:hover .delete-row {
		display: block;
	}

	.row:hover .add-row {
		display: block;
		cursor: pointer;
	}

	.row:hover {
		border: 2px solid orange;
		border-radius: 8px;
	}

	.column {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.column:not(:nth-last-child(4)) {
		border-right: 2px solid white;
	}
	
	.row:hover .column:not(:nth-last-child(4)) {
		border-right: 2px solid orange;
	}
}

.builder-left-nav {
	width: 100px;
}

.builder-right-nav {
	width: 250px;
	background-color: rgb(250, 248, 248);
	height: calc(100vh - 46px);
	box-shadow: -10px 0px 10px 1px #aaaaaa;
	position: fixed;
	z-index: 999;
	right: 0;

	.add-event {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 20px;
		margin-top: 50px;
		margin-right: 30px;
	}

	.event-type {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90px;
		height: 90px;
		background-color: rgb(247, 240, 240);
		margin-bottom: 20px;
		border: 1px solid rgb(209, 202, 202);
		border-radius: 6px;
	}

	.close-nav {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

.calendar, .calendars {
	.calendar-options {
		padding: 10px;
		display: flex;
		align-items: center;
	}

	.top-left-select {
		margin-left: 10px;
		height: 30px;
		width: 150px;
		border-radius: 5pc;
		padding: 5px;
		outline: none;
		padding-left: 10px;
		border: 1px solid rgb(201, 192, 192);
		cursor: pointer;

		option {
			padding: 10px;
		}
	}

	.top-left-select:hover {
		border: 1px solid grey;
	}

	.add-calendar {
		border-radius: 5pc;
		outline: none;
		padding: 5.7px 18px;
		border: 1px solid rgb(201, 192, 192);
		margin-left: 10px;
		font-size: 13.5px;
		text-align: center;
		cursor: pointer;
		background-color: white;
	}

	.add-calendar:hover {
		border: 1px solid grey;
	}

	.backdrop {
		z-index: 999;
	}
}

.add-calendar-box {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 500px;
	height: 250px;
	justify-content: space-around;
	border-radius: 10px;
	position: relative;

	.close {
		position: absolute;
		top: 5px;
		right: 10px;
		font-size: 20px;
		cursor: pointer;
	}

	select {
		width: 40%;
		padding: 5px;
		border-radius: 10px;
		outline: none;
		cursor: pointer;
	}

	.text-field {
		margin-top: 15px;
	}

	.text-area {
		padding: 8px;
		border-radius: 5px;
		outline: none;
		font-size: 16.5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.add-button {
		width: 30%;
	}
}

.right-nav {
	.calendars {
		padding: 5px;
	}

	.calendar-right-nav {
		margin: 10px;
		display: flex;
		align-items: center;
		margin-bottom: 13px;
		margin-left: 0px;
		height: 15px;
	}

	.calendar-right-nav span:first-child {
		padding: 8px 8px;
		border-radius: 100%;
		margin-right: 5px;
		cursor: pointer;
	}

	.delete-calendar, .edit-calendar {
		display: none;
		font-size: 23px;
		margin-left: 5px;
		cursor: pointer;
	}

	.calendar-right-nav:hover {
		.delete-calendar, .edit-calendar {
			display: block
		};
	}
}

.mapping-box {
	background-color: white;
	width: 500px;
	border-radius: 10px;
	padding: 10px 30px 20px 30px;

	h3 {
		text-align: center;
		margin-bottom: 15px;
		font-size: 20px;
	}

	.mapping-data {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
	}

	span {
		flex: 1;
	}

	select {
		flex: 1;
	}
}

.import-conctacts-dropdown {
	padding: 10px;
	margin-top: 5px;
	font-size: 15.5px;

	div {
		padding: 5px;
		cursor: pointer;
	}
}

.import-select-file {
	width: 450px;
	padding: 10px 30px 30px 30px;
	background-color: white;
	border-radius: 10px;

	h4 {
		margin-bottom: 18px;
	}

	select {
		margin-bottom: 18px;
	}

	input {
		margin-bottom: 18px;
	}
}

.form-field-error {
	border-bottom: 1.5px solid red !important;
}

.form-group-container {
	position: relative;
}

.form-field-error-text {
	color: red;
	position: absolute;
	top: 67px;
}

.horizontal-align-center {
	position: absolute;
	left: 50%;
	top: 30%;
}